@import '../../../styles/colors';

.predictionsChoiceQuestion {
  color: $white;
  border-radius: 5px;
  box-sizing: border-box;
  //background: $white;
  .predictionsChoiceQuestion-inner-wrap {
    padding: 15px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #014c91, #003257);
  }

  .label {
     margin: 0 0 16px 0;
  }

  .predictionImage {
    position: absolute;
    top: 20px;
    right: 5px;
  }

  .question-footer {
    display: flex;
    margin-top: 24px;

    p {
      color: $navy1;
    }

    button {
      background: $yellow1;
      border-radius: 5px;
      width: 198px;
      height: 52px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      margin-left: auto;
      margin-bottom: 32px;
    }
    button[disabled]{
      background: $navy6;
    }
  }

  .input {
    position: relative;
    margin-bottom: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .response {
      border: 1px solid $navy3;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 16px;
      margin: 0;
      line-height: 24px;
      padding-left: 68px;
      text-indent: -52px;
      display: block;

      .checkmark {
        text-align: center;
        line-height: 36px;
        position: relative;
        display: inline-block;
        height: 36px;
        width: 36px;
        background-color: white;
        margin-right: 16px;
        border: 1px solid $navy1;
        box-sizing: border-box;
        border-radius: 36px;
        color: $navy3;
        text-indent: 0;

        &:before {
          content: "";
          position: absolute;
          display: none;
          left: 11px;
          top: 5px;
          width: 5px;
          height: 20px;
          border: solid white;
          border-width: 0 3px 0 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &:after {
          content: "";
          position: absolute;
          display: none;
          left: 13px;
          top: 9px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }

    input {
      cursor: pointer;
      position: absolute;
      z-index: 99;
      width: 100%;
      height: 100%;
      opacity: 0;
      margin: 0;
      top: 0;
      left: 0;

      &:hover ~ .response {
        cursor: pointer;
        background-color: $navy6;
        color: $navy1
      }
      &:checked ~ .response {
        background-color: $navy4;
        color: $navy1;
      }
    }
    input.incorrect ~ .response {
      background: transparent;
      border-color: $red1;
      color: white;

      .checkmark {
        background-color: $red1;
        border-color: $red1;
        color: transparent;

        &:before {
          display: block;
        }

        &:after {
          display: block;
          border-width: 0 0 3px 0;
          height: 5px;
          width: 20px;
          left: 9px;
          top: 11px;
        }
      }
    }
    input.correct ~ .response {
      background: transparent;
      border-color: $green1;
      color: white;

      .checkmark {
        background-color: $green1;
        border-color: $green1;
        color: transparent;

        &:after {
          display: block;
        }
      }
    }
  }
}
