@import "../../../styles/colors";
@import "../../../styles/fonts";

.card {
  width: 100%;
  height: 50px;
  text-align: left;
  margin-bottom: 3.5%;
  .card-header {
    position: relative;
    width: 100%;
    padding: 16px 0;
    border-radius: 0 !important;
    border-bottom: none;
    background-color: #043461;
    h4 {
      margin: 0;

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 28.5px;
        width: 1px;
        background: $navy1;
      }


      .listIndex {
        position: absolute;
        display: none;
        top: 22px;
        left: 25px;
        margin: 0;
        color: $navy1;
        font: {
          family: $body;
          style: normal;
          size: 15px;
          weight: 600;
        }
        line-height: normal;
        text-align: center;
      }

      .btn-link {
        padding-left: 30px;
        // margin: {
        //   left: 50px;
        //   bottom: -9px;
        // }
        width: 100%;
        text-align: left;
        color: $white;
        font: {
          font-family: "proxima-nova", sans-serif;
          font-weight: bolder;
          size: 20px;
          weight: 700;
          padding: 10px;
        }
        // line-height: 41px;
        letter-spacing: 1px;
        border: none;
        // margin-left: 50px;
        // margin-bottom: -9px;
        background: transparent;
        cursor: pointer;
      }
    }
    &.active {
      text-decoration: underline;
      background-color: #E6E6E6;

      h4 {
        &:before,
        &:after {
          background: white;
        }

        .listIndex {
          display: initial;
        }
        color: black
      }

      .btn-link {
        color: black;
        cursor: pointer;
      }

      .arrow {
        z-index: 99;
        position: absolute;
        top: calc(50% - 10px);
        left: -10px;
        width: 0;
        height: 0;
        border: {
          top: 10px solid transparent;
          right: 10px solid $navy1;
          bottom: 10px solid transparent;
        }
      }
    }
    &:hover {
      text-decoration: underline;
    }
  }

  .collapse-wrapper {
    z-index: -1;
    position: absolute;
    top: 2px;
    right: 383px;
    width: 671px;
  }
}

div.notebook-section.card:first-of-type .card-header h4:before {
  content: none;
}
div.notebook-section.card:last-of-type .card-header h4:after {
  content: none;
}
@media screen and (max-width: 380px) {
  .card .card-header h4 .btn-link{
    font-size: 25px;
    padding: 16px;
  }
  .card{
    height: 30px;
  }
}

@media screen and (max-height: 480px){
  .card {
    width: 100%;
    height: 50px;
    text-align: left;
    margin-bottom: 2%;
  }
}