$burgundy: #a41034;
$blue1: #0063c3;
$blue2: #00aeef;
$blue3: #66a1db;
$blue4: #1c3b8b;
$blue5: #1c3b8b;
$navy1: #003e6b;
$navy2: #e51470;
$navy3: #668ba6;
$navy4: #99b2c4;
$navy5: #ccd8e1;
$navy6: #e6e6e6;
$navy7: #f5f7f9;
$navy8: #005c8c;
$navy9: #003754;
$navy10: #14486d;
$navy11: #1642a9;
$red1: #ed3431;
$red2: #D35454;
$yellow1: #faac48;
$yellow2: #e8c800;
$cyan1: #00aeef;
$green1: #84be60;
$charcoal1: #333333;
$charcoal2: #666666;
$charcoal3: #b2b2b2;
$charcoal4: #e7e7e7;
$offwhite: #f9f6f4;
$white: #ffffff;
$offyellow: #f7dd89;
$kanR: #f8af3e;
$rfp: #e52826;
$pBAD: #008d36;
$ampR: #105f92;
$araC: #1399f2;
$ori: #333332;
$nogene: #989898;
$ampR: #115f92;
$magenta1: #a63791;
$black: #000000;
$lightgray: #c5c5c5;
$gelBg: #7cb4d0;
$gradientLightBlue: #014c91;
$gradientDarkBlue: #003257;

:export {
  burgundy: $burgundy;
  blue1: $blue1;
  blue3: $blue3;
  navy1: $navy1;
  navy2: $navy2;
  navy3: $navy3;
  navy4: $navy4;
  navy5: $navy5;
  navy6: $navy6;
  navy7: $navy7;
  navy8: $navy8;
  navy9: $navy9;
  navy10: $navy10;
  navy11: $navy11;
  red1: $red1;
  red2: $red2;
  yellow1: $yellow1;
  yellow2: $yellow2;
  cyan1: $cyan1;
  green1: $green1;
  charcoal1: $charcoal1;
  charcoal2: $charcoal2;
  charcoal3: $charcoal3;
  charcoal4: $charcoal4;
  offwhite: $offwhite;
  kanR: $kanR;
  rfp: $rfp;
  pBAD: $pBAD;
  ampR: $ampR;
  araC: $araC;
  ori: $ori;
  nogene: $nogene;
  ampR: $ampR;
  magenta1: $magenta1;
  black: $black;
  lightgray: $lightgray;
  gelBg: $gelBg;
  blue5: $blue5;
  gradientLightBlue: $gradientLightBlue;
  gradientDarkBlue: $gradientDarkBlue;
}
