/* Bebas Neue */
@font-face {
	font-family: "Bebas Neue";
	font-style: bold;
  // src: url("~fonts/BebasNeue_Bold.otf");
  font-weight: bold;
}

/* DIN Alternate */
@font-face {
	font-family: "DIN Alternate";
	font-style: normal;
  // src: url("~fonts/DIN_Alternate_Bold.otf");
  font-weight: bold;
}

/* Bio Sans */
@font-face {
	font-family: "Bio Sans";
	font-style: normal;
  // src: url("~fonts/BioSans-Regular.otf");
  font-weight: normal;
}

$heading: "Bebas Neue", Arial, sans-serif;
$body: "Bio Sans", Arial, sans-serif;
$heading-alt: "DIN Alternate", Arial, sans-serif;
